<%= form_for(@pizzarail) do |f| %>
  <% if @pizzarail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pizzarail.errors.count, "error") %> prohibited this pizzarail from being saved:</h2>

      <ul>
      <% @pizzarail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nome %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Tamanho %><br />
    <%= f.text_field :size %>
  </div>
  <div class="field">
    <%= f.label :Endereço %><br />
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :Telefone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :Acompanhamento %><br />
    <%= f.text_field :side_order %>
  </div>
  <div class="field">
    <%= f.label :Valor %><br />
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

